body {
 position: center;
}

.home {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.bushome{ 
  width: 50vw;
  border: 10px solid black;
  padding: 30px;
  margin: 250px;
}

.span1 {
   display: "block" 
}

.techhome {
  width: 50vw;
  border: 10px solid black;
  padding: 30px;
  margin: 250px;
}